@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg: #F0F0F0;
  --color-surface:#c6d2ff;
  --color-panel: #FEFEFE;
  --color-border: #615fff;
  --color-shadow: #615fff;
  --color-text: #1a1a1a;
  --color-accent: #2563eb;

  --font-rubik: 'Rubik', sans-serif;
  --font-arimo: 'Arimo', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-arimo {
  font-family: 'Arimo', sans-serif;
}


