@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg: #F0F0F0;
  --color-surface: #c6d2ff;
  --color-panel: #FEFEFE;
  --color-border: #615fff;
  --color-shadow: #615fff;
  --color-text: #1a1a1a;
  --color-accent: #2563eb;

  --font-rubik: 'Rubik', sans-serif;
  --font-arimo: 'Arimo', sans-serif;
}
/* 1. Firefox */
.custom-y-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 transparent;
}

/* 2. WebKit Scrollbar Width */
.custom-y-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* 3. Hide Top/Bottom Arrows */
.custom-y-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* 4. Indigo Thumb */
.custom-y-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* Tailwind indigo-500 */
  border-radius: 9999px;
}

/* 5. Darker Indigo on Hover */
.custom-y-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Tailwind indigo-600 */
}